body {
  margin: 0;
}

#bio {
  position: absolute;
  top:0;
  left: 0;
  z-index: 90;
  font-family: "Georgia";
  font-size: 18px;
  max-width: 850px;
  line-height: 1.4;
  text-align: justify;
  background:rgba(0,0,0,.8);
  color: white;
  display: none;
  box-sizing: border-box;
  /*pointer-events:none;*/
}

#biotext {
  z-index: 99;
  margin-left: 235px;
  margin-top: 15px;
  padding: 15px;
}

#bio.has-image {
  height: -25px;
  min-height: 175px;
}

/*#bio img {*/
#kittypic {
  /*position: absolute;*/
  float: left;
  height: 225px;
  width: 225px;
}

#kittypic img {
  height: 300px;
  width: 300px;
  margin-top: -25px;
  margin-left: -37px;
}

#bio a {
  text-decoration: none;
  color: white;
}

.node {
  cursor: pointer;
}

.overlay{
    background-color: #F7F4F0;
}

.node circle {
  fill: #fff;
  stroke: #E6E2DD;
  stroke-width: 1.5px;
}

.node text {
  font-size:11px;
  font-weight: bold;
  font-family: "Georgia";
  color: #4D3636;
}

.link {
  fill: none;
  stroke: #E6E2DD;
  stroke-width: 1.5px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

/* ACR: extra changes */

body {
  overflow:hidden;
}

#bottomleft {
  position: fixed; /* absolute */
  float: left;
  bottom: 0;
}

#interface {
  z-index: 99;
  padding: 5px;
  font-family: "Georgia";
  font-size: 13px;
  width: 150px;
  line-height: 1.4;
  background:rgba(0,0,0,.8);
  color: white;
  box-sizing: border-box;
}

input[name=kittyLimit] {
  text-align:right;
  width: 50px;
  margin: 5px;
}

#donations {
  z-index: 99;
  padding: 6px;
  font-family: "Georgia";
  font-size: 13px;
  max-width: 850px;
  line-height: 1.4;
  background:rgba(0,0,0,.8);
  color: white;
  box-sizing: border-box;
  pointer-events:none;
}

#links {
  float: right;
  padding-top: 2px;
}

.kittycalc {
  height: 40px;
}

div.growlUI {
  height: 120px;
  background: url(https://78.media.tumblr.com/tumblr_mdkoyttBGV1rgpyeqo1_500.gif) no-repeat 25px -220px;
}

div.growlUI h1, div.growlUI h2 {
  color: white;
  margin: 25px 20px;
  text-align: left;
}

#stats {
  width: 100%;
  height: 35px;
  margin-left: -25px; /* TODO: find a better way*/
}

#stats:after {
  content:'';
  display:block;
  clear: both;
}

.stats {
  float: left;
  margin: 0px 8px 10px;
  /*padding: 2px;*/
  text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.637);
}

.jewelnum {
  z-index: 99;
}